<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Database Created</title>
    <style media="screen">
    .button {
        display: block;
        width: 115px;
        height: 25px;
        background: #4E9CAF;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
        }
    </style>
  </head>
  <body>
    <h1>Dummy Data Added successfully</h1>
    <a class="button" name="create" href = "populateDatabase">Create Database</a><br>
    <a class="button" name="hit_api" href = "UserActivityApi">Hit API</a><br>
    <a class="button" name="delete" href = "deleteDatabase">Delete Database</a><br>

  </body>
</html>
